<div class="text-left mt-2">
    <p>Create New Store</p>
</div>
<form method="POST" action="/admin/dashboard/stores/createStore">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <div class="input-group mb-2">
        <select class="form-control" id="inlineFormInputGroup" name="banner" required placeholder="Banner">
            <option value="">Select Banner</option>
            <option value="Target">Target</option>
            <option value="Lunds">Lunds</option>
            <option value="Hugo">Hugo</option>
            <option value="Festival">Festival</option>
            <option value="Nordstrom">Nordstrom</option>
            <option value="Hyvee">Hyvee</option>
            <option value="Sunshine">Sunshine</option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Job #</label>
      <input type="number" class="form-control mb-2" id="inlineFormInput" name="job" required placeholder="Job #">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">New Store</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" name="store" required placeholder="Store">
    </div>
    <div class="col-auto">
      <div class="input-group mb-2">
                <select class="form-control" id="inlineFormInputGroup" name="district" required placeholder="District">
                    <option value="">Select District</option>
                    <option value="MN RETAIL DIST">MN Retail District</option>
                    <option value="MN Northern Dist">MN Northern District</option>
                    <option value="MN Grocery-Retail">MN Grocery-Retail</option>
                    <option value="IA-IL">IA-IL</option>
                    <option value="IL-WI">IL-WI</option>
                    <option value="ND-NW-MN">ND-NW-MN</option>
                </select>
        </div>
      </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
</form>