* {
    font-size: 18px;
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}


button {
    border-radius: 1px;
}

#heading {
    margin: 0 40%;
}
#employeeInfo input[type="text"]{
    width: 80%;
}
#backPays {
    margin: 4%;
    width: 95%;
    padding: 10% 5%;
    box-shadow: 2px 2px;
    border:1px solid black;
}

#backPays > input[type="date"], input[type="time"] {
    width: 95%;
}
#backPays > 

#backPays > button {
    margin-top: 2%;
    margin-left: 4%;
}

#sigPad {
    background-color: #c9c8c5;
}

#backpayForm {
    margin: 0 0 0 20vw;
}

#backpayForm > input[type="submit"] {
    width: 15%;
    margin-left: 10rem;
}
#backPayAddButton, #backPayRemoveButton {
    border-radius: .33em;
}

#missedReasonBox {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 60px;
}

#signature {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 0;
    margin-top: 2%;
}

#bpSub {
    margin: 0 31%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    
    #heading {
        margin: 0 30%;
    }
    #employeeInfo {
        margin-top: 1rem;
    }

    #missedReasonBox {
        grid-template-columns: 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-left: 10%;
    }

    #signature {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-right: 0;
        margin-top: 2%;
    }

    #bpSub {
        margin: 0 30.8%;
    }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
    
    
    #backPays > input[type="date"] {
        margin: 0;
    }
    #employeeInfo {
        margin-top: 1rem;
    }

    #heading {
        margin-top: 1rem;
    }
    #missedReasonBox {
        grid-template-columns: 1fr;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-left: 10%;
    }

    #signature {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-right: 0;
        margin-top: 2%;
    }

    #bpSub {
        margin: 0 28%;
    }
}

@media screen and (max-width: 550px) {
    
    #heading {
        margin: 0 30%;
    }
    #backPays {
        margin: 2.5%;
    }
    #employeeInfo {
        margin-top: 1rem;
    }

    #missedReasonBox {
        grid-template-columns: 1fr;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 0;
    }

    #bpSub {
        margin: 0 34%;
    }
}