button {
    border-radius: 1px;
}


#sigButton {
    margin: 0 auto;
    width: 100%;
    border-radius: 1em;
}

#bonusForm {
    margin: 0 0 0 20vw;
}

#bonusForm > input[type="submit"] {
    width: 15%;
    margin: 0 0 0 2rem;
}
#bonusHeading {
    margin: 0 0 0 36vw;
}

#bonusSig {
    border: 1px;
    margin-left: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sigPad {
    background-color: #c9c8c5;
}


#bonusAddButton, #bonusRemoveButton {
    border-radius: .33em;
}

#addBP {
    border: 1px solid black;
    box-shadow: 2px 2px;
    width: 80%;
    padding-bottom: 1rem;
    margin-top: 2%;
    padding-left: 1.7rem;

}

#addBP button {
    margin-left: 41%;
    margin-right: .2rem
}

#bonusComments {
    margin: 0 0 0 13%;
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
}
#BP {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#BP > div > label:first-child {
    margin-left: 0;
}
#BP > div > label:nth-child(2) {
    margin-left: 1rem;
}
    #BP input[type="date"] {
    width: 80%;
    height: 1.2rem;
    margin: .8rem 0 0 1.2rem;
    
}

#stores {
    margin-left: 1rem;
    height: 1.2rem;
    margin-top: .8rem;
    width: 80%;
}

#BP input[type="text"] {
    margin-left: 1rem;
    width: 80%;
    
}

#success {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

#employeenum {
    width: 80%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    #BP {
        grid-template-columns: 1fr;
        margin-left: 0;
        width: 85%
    }

    #addBP {
        border: 1px solid black;
        box-shadow: 2px 2px;
        width: 80%;
        padding-bottom: 1rem;
        margin-top: 2%;
        margin-left: 0;
        padding-top: 2%;
        padding-left: 10%;
    
    }

    #addBP button {
        margin-left: 35%;
        margin-right: .2rem
    }

    #bonusSig {
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media screen and (min-width: 551px) and (max-width: 768px) {

    #BP {
        grid-template-columns: 1fr;
        margin-left: 1.4rem;
        width: 85%
    }

    #BP {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 5%;
    }

    #BP > label {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 0;
    }

    #BP input[type="text"], input[type="date"] {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 1.2rem;
    }
    
    #BP > div > label:nth-child(2) {
        margin-left: 1rem;
    }
    #stores {
        margin-left: 1.2rem;
    }

    #addBP {
        border: 1px solid black;
        box-shadow: 2px 2px;
        width: 80%;
        padding-bottom: 1rem;
        margin-top: 2%;
        margin-left: 0;
        padding-left: .6rem;
    
    }

    #bonusSig {
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media screen and (max-width: 550px) {

    #BP {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 0;
    }

    #BP > label {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 0;
    }

    #BP > input[type="text"], input[type="date"]{
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 0;
    }

    #addBP {
        border: 1px solid black;
        box-shadow: 2px 2px;
        width: 80%;
        padding-bottom: 1rem;
        margin-top: 2%;
        margin-left: 1.5rem;
        padding-left: .6rem;
    
    }

    #bonusSig {
        margin-left: 0;
    }

}


