button {
    border-radius: 1px;
}

#bonusForm {
    margin: 0 0 0 20vw;
}

#bonusForm > input[type="submit"] {
    width: 20%;
    margin: 0 0 0 2rem;
}
#bonusHeading {
    margin: 0 0 0 36vw;
}

#bonusSig {
    border: 1px;
    margin-left: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sigPad {
    background-color: #c9c8c5;
}


#bonusAddButton, #bonusRemoveButton {
    border-radius: .75em;
    width: 18%;
}

#addBP {
    border: 1px solid black;
    display: inline-block;
    box-shadow: 2px 2px;
    width: 80%;
    padding-bottom: 1rem;
    margin-top: 2%;
    padding-left: 1.7rem;

}

#bonusAddButton {
    margin-left: 5%;
}
#bonusRemoveButton {
    margin-left: 23%;
    margin-right: .1rem
}

#bonusComments {
    margin: 0 0 0 13%;
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 3;
}
#BP {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#BP > div > label:first-child {
    margin-left: 1rem;
}

#BP > div > label:nth-child(2) {
    margin-left: 1rem;
}

#BP input[type="date"] {
    margin-top: .75rem;
    width: 90%;
}

#BP  > input[type="number"]:nth-child(3), select {
    width: 80%;
    height: 1.2rem;
    margin: .8rem 0 0 1.2rem;
    
}

#stores {
    margin-left: 1rem;
    height: 1.2rem;
    margin-top: .8rem;
    width: 80%;
}

#BP input[type="text"] {
    margin-left: 1rem;
    width: 80%;
    
}

#success {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

#employeenum {
    width: 80%;
}

#dm {
    margin-left: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    #BP {
        grid-template-columns: 1fr;
        margin-left: 0;
        padding-left: 4rem;
        width: 85%
    }

    #BP > div {
        margin: .33rem 0;
    }

    #BP input[type="number"], input[type="date"], select {
        width: 80%;
        height: 1.2rem;
        margin-top: 0;
        margin-left: 0;
        
    }

    #addBP {
        border: 1px solid black;
        box-shadow: 2px 2px;
        width: 80%;
        padding-bottom: 1rem;
        margin-top: 2%;
        margin-left: 0;
        padding-top: 2%;
        padding-left: 10%;
    
    }

    #bonusAddButton {
        margin-left: 0;
    }

    #bonusRemoveButton {
        margin-left: 12%;
        margin-right: .2rem
    }

    #bonusAddButton, #bonusRemoveButton {
        border-radius: .75em;
        width: 30%;
    }

    #bonusSig {
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #stores, #dm {
        margin: 0;
    }
}

@media screen and (min-width: 551px) and (max-width: 768px) {

    #BP {
        grid-template-columns: 1fr;
        margin-left: 1.4rem;
        width: 85%
    }

    #BP {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 5%;
    }

    #BP > label {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 0;
    }

    #BP input[type="text"], input[type="date"] {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 1.2rem;
    }
    
    #BP > div > label:nth-child(2) {
        margin-left: 1rem;
    }
    #stores {
        margin-left: 1.2rem;
    }

    #addBP {
        border: 1px solid black;
        box-shadow: 2px 2px;
        width: 80%;
        padding-bottom: 1rem;
        margin-top: 2%;
        margin-left: 0;
        padding-left: .6rem;
    
    }

    #bonusAddButton {
        margin-left: 5%;
    }

    #bonusAddButton, #bonusRemoveButton {
        border-radius: .75em;
        width: 32%;
    }

    #bonusRemoveButton {
        margin-left: 13%;
    }

    #bonusSig {
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media screen and (max-width: 550px) {

    #BP {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 1rem;
    }

    #BP > label {
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 0;
    }

    #BP > input[type="text"], input[type="date"]{
        grid-template-columns: 1fr;
        width: 85%;
        margin-left: 0;
    }

    #bonusRemoveButton {
        margin-left: 30%;
    }

    #addBP {
        border: 1px solid black;
        box-shadow: 2px 2px;
        width: 80%;
        padding-bottom: 1rem;
        margin-top: 2%;
        margin-left: 1.5rem;
        padding-left: .6rem;
    
    }

    #bonusAddButton {
        margin-left: 5%;
    }

    #bonusAddButton, #bonusRemoveButton {
        border-radius: .75em;
        width: 30%;
    }

    #bonusRemoveButton {
        margin-left: 15%;
        margin-right: .1rem
    }

    #bonusSig {
        margin-left: 0;
    }

    #dm {
        margin: 0;
    }

    #bonusComments {
        margin: 0 0 0 10%;
    }

}


