* {
    font-size: 18px;
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

/*#dustmopForm {
    margin: 0 0 0 26vw;
}*/

/*#dustmopHeading {
    margin: 0 0 0 33vw;
}*/

/*#dustmopForm > input[type="submit"] {
    width: 15%;
    margin-left: 11rem;
}*/