.wrapper1 input[type="date"] {
    font-size: 14px;
    width: 80%;
}

#hotelForm {
    margin: 0 0 0 20vw;
}

#hotelHeading {
    margin: 0 0 0 35vw;
}

#hotelForm > input[type="submit"] {
    width: 15%;
    margin: 0 0 0 10rem;
}
#rooms {
    grid-template-columns: repeat(3, 1fr);

}
#newPS {
    margin-top: 0;
}

#rooms select, input[type="text"] {
    width: 80%;
}

#hotelStores select {
    width: 80%;
}

#psToggleDiv {
    grid-column-start: 1;
    grid-column-end: 3;
}

#psList {
    grid-column-start: 1;
    grid-column-end: 3;
}

#PS {
    width: 46%;
    margin: 0 1.3rem;
}

#psLabel {
    margin: 0 16%;
}

#hotelInfo select, input[type="number"], input[type="text"] {
    margin-top: .75rem;
    width: 80%;
}

#checkIn, #checkOut, #PS {
    margin-left: 0;
}

#hotelInfo > select {
    margin-left: 0
}

#hotelStores > select {
    margin-left: 0;
}
#roomNum, #peopleNum {
    margin-left: 0;
    max-height: 25px;   
}
#twoQueen {
    width: 95%;
}

#hotelNotes {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

#hotelNotes > label {
    padding-left: 2vw;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    #roomNum {
        margin-top: 1.2rem;
    }

}

@media screen and (min-width: 551px) and (max-width: 768px) {

    #checkIn, #checkOut, #PS {
        margin-left: 0;
    }

    #hotelStores > select {
        margin-left: 0;
    }

    #hotelInfo > select {
        margin-left: 0
    }

    #PS {
        width: 40%;
        margin: 0 .5rem;
    }
    
    #psLabel {
        margin: 0 11%;
    }
    
}

@media screen and (max-width: 550px) {
    #hotelManagers, #hotelCheckIn, #hotelInfo {
        padding-top: 1rem;
    } 

    #psList select {
        margin-bottom: 1rem;
    } 

    #PS {
        width: 40%;
        margin: 0 1.3rem;
    }
    
    #psLabel {
        margin: 0 6%;
    }
    
    .wrapper1 textarea {
        width: 100%;
    }

    #checkIn, #checkOut, #PS {
        margin-left: 0;
    }

    #hotelInfo > select {
        margin-left: 0
    }

    #hotelStores > select {
        margin-left: 0;
    }
}