* {
    font-size: 18px;
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
}
.mileage_container form {
    width: 30rem;
    height: 35rem;
    padding: 0 0 0 11rem;
    margin: 0 20rem;
    overflow: auto;
}

.mileage_container h1 {
    width: 13rem;
    padding: 0 10rem;
    margin: 0 30rem;
    
}

.mileage_container span {
    border-bottom: 1px solid black;
}
.mileage_container select {
    font-size: 14px;
}

.mileage_container label {
    font-style: italic;
}

.mileage_container input[type="text"] {
    font-size: 14px;
    width: 33%;
}

.mileage_container input[type="date"] {
    font-size: 14px;
    width: 33%;
}

.mileage_container p {
    text-align: left;
}

.mileage_container form input[type="submit"] {
    border-radius: 1em;
    width: 15%;
    margin-left: 8rem;
}

.mileage_container form input[type="reset"] {
    border-radius: 1em;
    width: 15%;
}

.mileage_container option {
    font-size: 14px;
}

#notes {
    width: 21.5rem;
    height: 5rem;
}

#sigPad {
    border: 1px solid black;
    width: 14rem;
    height: 5rem;
}

#sigButton {
    margin: 0 auto;
    width: 100%;
    border-radius: 1em;
}

#mileageRemoveButton {
    margin: 0 1rem 0 0;
    width: 4.5rem;
}

#mileageAddButton {
    margin: 0;
    width: 7rem;
}