nav {
    background-color: #d0e1fa;
    width: 99vw;
    display: grid;
    margin: 0;
    box-sizing: border-box;
    grid-template-areas: 'logo links login';
    grid-template-columns: 10% 80% 10%;
    grid-column-gap: 10px;
    
}

.navbar {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

#mobileMenu {
    display: none;
}

.navbar a {
    text-decoration: none;
}

.navbar > ul > li > a:visited {
    color: #001694;
}

.navbar > ul > li > a:hover {
    color: black;
}

.navbar > ul > li > a:active {
    color: #F3C126;
}

.navbar li {
    display: inline;
    list-style: none;
    padding-right: 10px;
    line-height: 3em;
}

.logo_con img {
    width: 100%;
    height: auto;
}

.logo_con div {
    display: block;
    float: right;
    margin: 0 15px;

    font-weight: bold;
}

#login {
    justify-content: center;
    margin-right: 20px;
    margin-top: 2px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    nav {
        margin: 0 5px;
        width: 97vw;
        display: grid;
        box-sizing: border-box;
        grid-template-areas: 'logo links login';
        grid-template-columns: 20% 70% 10%;
    
    }

    .logo_con img {
        width: 100%;
        height: auto;
        
    }

    .navbar li {
        display: inline;
        font-size: 16px;
        padding-right: 5px;
    }

    .logo_con img {
        width: 60%;
        
    }

    .logo_con {
        align-content: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    nav {
        background-color: #d0e1fa;
        width: 94vw;
        display: grid;
        margin: 0 7px;
        box-sizing: border-box;
        grid-template-areas: 'logo links login';
        grid-template-columns: 20% 70% 10%;
    
    }

    .logo_con img {
        width: 100%;
        height: auto;
        
    }

    .navbar li {
        display: inline;
        font-size: 16px;
        padding-right: 5px;
    }

    #login {
        text-align: center;
        float: right;
    }
}

@media only screen and (max-width: 550px) {
   body {
       z-index: -1;
   }
    
    nav {
        display: grid;
        margin: 0 15px;
        width:91vw;
        max-height: 1000px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
    
    }

    #fullMenu {
        display: none;
    }

    #mobileLinks {
        z-index:1000;
        width: 450px;
        float: left;
        animation: 1s ease-in;
        margin-top: 10px;
    }

    #mobileNavLinks > li > a {
        text-decoration: none;
    }

    #mobileNavLinks > li {
        list-style: none;
        font-weight: 700;
        margin-top: 3px;
        background-color: lightblue;
        width: 91vw;
        
    }

    #mobileMenu {
        display: block;
        width: 40px;
        float: right;
        
    }

    #mobileMenu > button {
        width: 100%;
        height: 41px;
        border: none;
        border-bottom: none;
        border-radius: 0px;
        box-shadow: none;
        background-color: #d0e1fa;
        margin: 0;
        cursor: grabbing;
        
    }

    .navbar li {
        border-right: none;
    }

    .logo_con img {
        width: 80px;
        height: 40px;
        float: right;

        
    }

    #logo {
        float: none;
        display: inline-block;
    }

    #logo img{
        float: none;
    }

    #login {
        display: none;
        float: none;
        
    }
}