button {
    border-radius: 1px;
    margin: 0 1rem;
}

.mileageDate {
    margin-top: .8rem;
}

#location {
    width: 80%;
}
#perdiemEmployeeNum > input[type="number"] {
    width: 80%;
    height: 20px;
    margin-top: .75rem;
}

#perdiemForm {
    margin: 0 24vw 0 24vw;
}
#perdiemForm > input[type="submit"] {
    width: 15%;
    margin: 0 0 0 9rem;
}

#mileageEntries {
    margin-top: 1rem;
    border: 1px solid black;
    box-shadow: 2px 2px;
    padding-bottom: 1rem;
    width: 80%; 
}

#mileageEntries select {
    width: 80%;
    margin: .8rem 0 0 0;
}

#rtowControl {
    margin-left: 1.6rem;
}

#mileageEntries input[type="radio"] {
margin-left: 1px;
}

#mileage {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 1rem 0 0 1.3rem;
}

#mileage input[type="date"] {
    width: 80%;
}
#first_hotel, #last_hotel, #arrival, #departure, #city, #state {
    width: 80%;
}

#commentsDiv {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 3rem;
}

#perdiemButton {
    border-radius: 1px;
    margin-left: 1.6rem !important;
}

#perdiemAddButton {
    margin-left: 1.5rem !important;
}

/*#addPer {
    border: 1px solid black;
    box-shadow: 2px 2px;
    width: 29.2rem;
}*/

@media screen and (min-width: 769px) and (max-width: 1024px) {

 #mileage > input[type="date"] {
     margin-top: .8rem;
 }   

 #mileageEntries > button {
     margin-left: 1.5rem;
 }
}

@media screen and (min-width: 551px) and (max-width: 768px) {

    #firstNight, #lastNight, #arrivalDate, #departureDate {
        margin-left: 0;
    }

    #mileageEntries > button {
        margin-left: 1.5rem;
    }

    #mileage > input[type="date"] {
        margin-left: 0;
    }  

    #lastNight {
        margin-top: 1.2rem;
    }

    #commentsDiv {
        padding-left: 2rem;
    }

    
}

@media screen and (max-width: 550px) {

    #commentsDiv { 
        padding-left: 2rem;
        width: 90%;
    }

    #mileageEntries > button {
        margin-left: 1.5rem;
    }
}