* {
    font-size: 18px;
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

.threeMonth_container form {
    width: 35rem;
    height: 35rem;
    padding: 0 0 0 3rem;
    margin-left: 15rem;
    overflow: auto;
}

.threeMonth_container h1 {
    width: 13rem;
    padding: 0 10rem;
    margin: 0 19rem;
}

.threeMonth_container span {
    border-bottom: 1px solid black;
}
.threeMonth_container select, option {
    font-size: 14px;
}

.threeMonth_container label {
    font-style: italic;
    height: 5rem;
}

.threeMonth_container input[type="text"] {
    font-size: 14px;
    width: 33%;
}

.threeMonth_container input[type="date"] {
    font-size: 14px;
    width: 33%;
}

.threeMonth_container p {
    text-align: left;
}   

.threeMonth_container form input[type="submit"] {
    border-radius: 1em;
    width: 15%;
    margin-left: 9rem;
}

.threeMonth_container form input[type="reset"] {
    border-radius: 1em;
    width: 15%;
    

}

#orderQuantity {
    width: 5rem;
    
}

#datacells {
    padding-top: 1.7rem;
    padding-left: 1rem;
}
#dataCells {
    margin-top: .5em;
    width: 30rem;
    border: 1px solid black;
    box-shadow: 1px 1px;
    height: 5rem;
}

#label {
    width: 80%;
    border-right: 1px solid black;
    text-shadow: 1px 0;
    height: 4rem;
    font-size: 16px;
    vertical-align: middle;
    border-spacing: 1em;
    
}

#label12 {
    width: 25rem;
    text-shadow: 1px 0;
    height: 4rem;
    font-size: 16px;
    vertical-align: middle;
    padding-top: .5rem;
    
}

#radio12 {
    padding-left: .6rem;
    float: left;
    max-height: 1rem;
}

#radioDiv {
    height: 100%;
    padding-top: 1.7rem;
    display: table-cell;
}

#radioDiv3 {
    height: 100%;
    font-size: 14px;
    padding-top: 1.7rem;
}

#notes {
    width: 30.25rem;
    height: 5rem;
}

#Cleaning_Supplies {
    margin-top: .5rem;
    font-size: 17px;
}