<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://cbmportal.com">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select tool
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Stores</a>
          {{#if user}}
          {{#with user}}
          <a class="dropdown-item" href="#">Portal Users</a>
          {{/with}}
          {{/if}}
          <a class="dropdown-item" href="#">PS List</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
Welcome 
{{#if user}}
{{#with user}}
{{userFirst}} {{userLast}}
{{/with}}
{{/if}}
<br />
{{content}}